body {
  background-color: rgb(252, 253, 255);
  font: normal 1em/1.38 Verdana;
  color: rgb(51, 51, 51);
}

.branch {
  position: relative;
  float: left;
  width: 32.6666666666%;
  height: 1250px;
}

.branch .container {
  position: relative;
  float: left;
}

.coms {
  position: relative;
  float: left;
  width: 32.5396825396%;
  height: 37px;
  margin-top: -37px;
}

.coms .image {
  width: 24px;
  margin-top: 7px;
}

.coms .save {
  clear: both;
  width: 79.6747967479%;
  min-height: 35px;
  margin-top: -26px;
  font-size: 1em;
  color: rgb(51, 51, 51);
}

.container .source {
  width: 76.2661370407%;
  margin-top: 63px;
}

.header {
  position: absolute;
  top: 2349px;
  left: 0;
  z-index: 15;
  width: 100%;
  max-width: 1600px;
  height: 84px;
  max-height: 84px;
  background-color: rgb(31, 45, 120);
}

.image {
  display: block;
  float: left;
  height: auto;
  overflow: hidden;
}

.link_heading {
  position: relative;
  float: left;
  clear: both;
  font-size: 0.938em;
  color: rgb(0, 0, 0);
}

.nav_bar {
  position: absolute;
  left: 0;
  width: 100%;
}

.nav_bar .container {
  position: absolute;
  top: 12px;
  left: 0;
  right: 0;
  z-index: 2;
  width: 29.75%;
  height: 37px;
  margin: 0 auto;
}

.nav_bar .image {
  position: relative;
  clear: both;
  z-index: 1;
  width: 33px;
  margin: -33px 0 0 89.20256%;
}

.nav_bar .text {
  width: 6%;
  height: 60px;
  margin: 18px 0 0 2.91667%;
  padding-top: 5px;
  font-family: Oxygen;
  font-size: 1.188em;
  font-weight: 700;
  letter-spacing: 2px;
  color: rgb(249, 155, 4);
}

.save {
  float: left;
}

.save .save {
  width: 79.6747967479%;
  min-height: 35px;
  font-size: 1em;
  color: rgb(51, 51, 51);
}

.share {
  float: left;
  width: 32.5396825396%;
  height: 37px;
  margin-top: -37px;
}

.share .image {
  width: 24px;
  margin-top: 6px;
}

.share .save {
  clear: both;
  width: 79.6747967479%;
  min-height: 35px;
  margin-top: -25px;
  font-size: 1em;
  color: rgb(51, 51, 51);
}

.source {
  position: relative;
  float: left;
  min-height: 35px;
  font: 700 0.625em/2.78 'Open Sans';
  color: rgb(65, 240, 8);
}

.text {
  float: left;
}

._1 {
  float: left;
  clear: both;
  width: 360px;
  height: 130px;
  border-top: 1px solid rgb(210, 217, 221);
}

._2 {
  float: left;
  clear: both;
  width: 360px;
  border-top: 1px solid rgb(210, 217, 221);
}

._input {
  display: block;
  position: relative;
  float: left;
  z-index: 0;
  width: 99.6825396825%;
  height: 37px;
  margin-left: -0.00438%;
  padding: 0 10px;
  border: 1px solid rgba(142, 159, 252, 0.12);
  border-radius: 6px;
  font-size: 0.875em;
  font-weight: 400;
  line-height: 1.18;
  color: rgba(10, 12, 13, 0.18);
}

.branch-1 {
  z-index: 97;
  margin: 120px 0 0 1.91667%;
}

.branch-2 {
  z-index: 179;
  margin-top: 120px;
}

.branch-3 {
  z-index: 261;
  margin-top: 114px;
}

.coms-1 {
  clear: both;
  z-index: 18;
  margin-left: 30.67693%;
}

.coms-10 {
  clear: both;
  z-index: 145;
  margin-left: 30.67274%;
}

.coms-11 {
  clear: both;
  z-index: 158;
  margin-left: 30.65538%;
}

.coms-12 {
  clear: both;
  z-index: 171;
  margin-left: 30.40799%;
}

.coms-13 {
  clear: both;
  z-index: 182;
  margin-left: 30.67693%;
}

.coms-14 {
  clear: both;
  z-index: 201;
  margin-left: 30.41212%;
}

.coms-15 {
  z-index: 214;
  margin-left: 30.40799%;
}

.coms-16 {
  clear: both;
  z-index: 227;
  margin-left: 30.67274%;
}

.coms-17 {
  clear: both;
  z-index: 240;
  margin-left: 30.65538%;
}

.coms-18 {
  clear: both;
  z-index: 253;
  margin-left: 30.40799%;
}

.coms-2 {
  clear: both;
  z-index: 37;
  margin-left: 30.41212%;
}

.coms-3 {
  z-index: 50;
  margin-left: 30.40799%;
}

.coms-4 {
  clear: both;
  z-index: 63;
  margin-left: 30.67274%;
}

.coms-5 {
  clear: both;
  z-index: 76;
  margin-left: 30.65538%;
}

.coms-6 {
  clear: both;
  z-index: 89;
  margin-left: 30.40799%;
}

.coms-7 {
  clear: both;
  z-index: 100;
  margin-left: 30.67693%;
}

.coms-8 {
  clear: both;
  z-index: 119;
  margin-left: 30.41212%;
}

.coms-9 {
  z-index: 132;
  margin-left: 30.40799%;
}

.container-1 {
  z-index: 25;
  width: 104.8958333333%;
  height: 100px;
  margin-top: 10px;
}

.container-10 {
  z-index: 149;
  width: 100%;
  height: 100px;
  margin: -1px 0 0 -0.05208%;
}

.container-11 {
  z-index: 163;
  width: 100%;
  height: 135px;
  margin-top: -1px;
}

.container-12 {
  z-index: 175;
  width: 100%;
  height: 97px;
  margin-top: -1px;
}

.container-13 {
  z-index: 189;
  width: 104.8958333333%;
  height: 100px;
  margin-top: 10px;
}

.container-14 {
  z-index: 205;
  width: 104.8958333333%;
  height: 100px;
  margin-top: -11px;
}

.container-15 {
  z-index: 218;
  width: 100%;
  height: 100px;
  margin: -1px 0 0 -0.05208%;
}

.container-16 {
  z-index: 231;
  width: 100%;
  height: 100px;
  margin: -1px 0 0 -0.05208%;
}

.container-17 {
  z-index: 245;
  width: 100%;
  height: 135px;
  margin-top: -1px;
}

.container-18 {
  z-index: 257;
  width: 100%;
  height: 97px;
  margin-top: -1px;
}

.container-2 {
  z-index: 41;
  width: 104.8958333333%;
  height: 100px;
  margin-top: -11px;
}

.container-3 {
  z-index: 54;
  width: 100%;
  height: 100px;
  margin: -1px 0 0 -0.05208%;
}

.container-4 {
  z-index: 67;
  width: 100%;
  height: 100px;
  margin: -1px 0 0 -0.05208%;
}

.container-5 {
  z-index: 81;
  width: 100%;
  height: 135px;
  margin-top: -1px;
}

.container-6 {
  z-index: 93;
  width: 100%;
  height: 97px;
  margin-top: -1px;
}

.container-7 {
  z-index: 107;
  width: 104.8958333333%;
  height: 100px;
  margin-top: 10px;
}

.container-8 {
  z-index: 123;
  width: 104.8958333333%;
  height: 100px;
  margin-top: -11px;
}

.container-9 {
  z-index: 136;
  width: 100%;
  height: 100px;
  margin: -1px 0 0 -0.05208%;
}

.image-25 {
  position: relative;
  clear: both;
  z-index: 129;
  width: 29px;
  margin: -34px 0 0 1.0503499999%;
}

.image-1,
.image-19,
.image-22,
.image-37,
.image-4,
.image-40 {
  width: 24px;
  margin: 5px 0 0 4.7939999999%;
}

.image-2,
.image-20,
.image-23,
.image-38,
.image-41,
.image-5 {
  margin-left: 4.8703%;
}

.image-21,
.image-24,
.image-3,
.image-39,
.image-42,
.image-6 {
  margin-left: 6.02747%;
}

.image-43 {
  position: relative;
  clear: both;
  z-index: 211;
  width: 29px;
  margin: -34px 0 0 1.0503499999%;
}

.image-10,
.image-13,
.image-28,
.image-31,
.image-46,
.image-49 {
  width: 24px;
  margin: 5px 0 0 4.7885799999%;
}

.image-16,
.image-34,
.image-52 {
  width: 29px;
  margin: 2px 0 0 3.26797%;
}

.image-11,
.image-14,
.image-17,
.image-26,
.image-29,
.image-32,
.image-35,
.image-44,
.image-47,
.image-50,
.image-53,
.image-8 {
  margin-left: 4.86861%;
}

.image-12,
.image-15,
.image-18,
.image-27,
.image-30,
.image-33,
.image-36,
.image-45,
.image-48,
.image-51,
.image-54,
.image-9 {
  margin-left: 6.01574%;
}

.image-7 {
  position: relative;
  clear: both;
  z-index: 47;
  width: 29px;
  margin: -34px 0 0 1.0503499999%;
}

.link_heading-1 {
  z-index: 26;
  margin-top: -102px;
  font-weight: 700;
}

.link_heading-10 {
  z-index: 150;
  margin-top: -91px;
  font-weight: 400;
}

.link_heading-11 {
  z-index: 164;
  margin-top: -126px;
  font-weight: 700;
}

.link_heading-12 {
  z-index: 176;
  margin-top: -88px;
  font-weight: 400;
}

.link_heading-13 {
  z-index: 190;
  margin-top: -102px;
  font-weight: 700;
}

.link_heading-14 {
  z-index: 206;
  margin-top: -81px;
  font-weight: 700;
}

.link_heading-15 {
  z-index: 219;
  margin-top: -91px;
  font-weight: 400;
}

.link_heading-16 {
  z-index: 232;
  margin-top: -91px;
  font-weight: 400;
}

.link_heading-17 {
  z-index: 246;
  margin-top: -126px;
  font-weight: 700;
}

.link_heading-18 {
  z-index: 258;
  margin-top: -88px;
  font-weight: 400;
}

.link_heading-2 {
  z-index: 42;
  margin-top: -81px;
  font-weight: 700;
}

.link_heading-3 {
  z-index: 55;
  margin-top: -91px;
  font-weight: 400;
}

.link_heading-4 {
  z-index: 68;
  margin-top: -91px;
  font-weight: 400;
}

.link_heading-5 {
  z-index: 82;
  margin-top: -126px;
  font-weight: 700;
}

.link_heading-6 {
  z-index: 94;
  margin-top: -88px;
  font-weight: 400;
}

.link_heading-7 {
  z-index: 108;
  margin-top: -102px;
  font-weight: 400;
}

.link_heading-8 {
  z-index: 124;
  margin-top: -81px;
  font-weight: 700;
}

.link_heading-9 {
  z-index: 137;
  margin-top: -91px;
  font-weight: 400;
}

.nav_bar-1 {
  top: -2289px;
  z-index: 5;
  height: 36px;
  border-bottom: 1px solid rgb(249, 155, 4);
}

.nav_bar-1:hover {
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
}

.nav_bar-2 {
  top: -2349px;
  z-index: 4;
  height: 60px;
}

.save-1 {
  position: relative;
  z-index: 24;
  width: 32.5388944058%;
  height: 37px;
  margin-top: 82px;
}

.save-13 {
  position: relative;
  z-index: 60;
  width: 32.5396825396%;
  height: 37px;
  margin: 63px 0 0 0.26042%;
}

.save-17 {
  position: relative;
  clear: both;
  z-index: 73;
  width: 32.5396825396%;
  height: 37px;
  margin: -8px 0 0 0.26042%;
}

.save-21 {
  position: relative;
  z-index: 86;
  width: 32.5396825396%;
  height: 37px;
  margin-top: 79px;
}

.save-25 {
  position: relative;
  z-index: 106;
  width: 32.5388944058%;
  height: 37px;
  margin-top: 82px;
}

.save-29 {
  position: relative;
  z-index: 116;
  width: 32.5396825396%;
  height: 37px;
  margin-top: 87px;
}

.save-33 {
  position: relative;
  z-index: 128;
  width: 32.5396825396%;
  height: 37px;
  margin-top: 63px;
}

.save-37 {
  position: relative;
  z-index: 142;
  width: 32.5396825396%;
  height: 37px;
  margin: 63px 0 0 0.26042%;
}

.save-41 {
  position: relative;
  clear: both;
  z-index: 155;
  width: 32.5396825396%;
  height: 37px;
  margin: -8px 0 0 0.26042%;
}

.save-45 {
  position: relative;
  z-index: 168;
  width: 32.5396825396%;
  height: 37px;
  margin-top: 79px;
}

.save-49 {
  position: relative;
  z-index: 188;
  width: 32.5388944058%;
  height: 37px;
  margin-top: 82px;
}

.save-5 {
  position: relative;
  z-index: 34;
  width: 32.5396825396%;
  height: 37px;
  margin-top: 87px;
}

.save-27,
.save-3,
.save-51 {
  margin-left: 30.16277%;
  font-family: 'Open Sans';
  font-weight: 400;
}

.save-28,
.save-4,
.save-52 {
  margin-left: 30.16277%;
  font-family: 'Open Sans';
  font-weight: 300;
}

.save-53 {
  position: relative;
  z-index: 198;
  width: 32.5396825396%;
  height: 37px;
  margin-top: 87px;
}

.save-2,
.save-26,
.save-30,
.save-50,
.save-54,
.save-6 {
  clear: both;
  margin: -24px 0 0 30.16277%;
}

.save-31,
.save-32,
.save-55,
.save-56,
.save-7,
.save-8 {
  margin-left: 30.16277%;
}

.save-57 {
  position: relative;
  z-index: 210;
  width: 32.5396825396%;
  height: 37px;
  margin-top: 63px;
}

.save-10,
.save-34,
.save-58 {
  margin: 5px 0 0 30.15873%;
}

.save-61 {
  position: relative;
  z-index: 224;
  width: 32.5396825396%;
  height: 37px;
  margin: 63px 0 0 0.26042%;
}

.save-65 {
  position: relative;
  clear: both;
  z-index: 237;
  width: 32.5396825396%;
  height: 37px;
  margin: -8px 0 0 0.26042%;
}

.save-14,
.save-18,
.save-38,
.save-42,
.save-62,
.save-66 {
  clear: both;
  margin: -24px 0 0 30.15873%;
}

.save-69 {
  position: relative;
  z-index: 250;
  width: 32.5396825396%;
  height: 37px;
  margin-top: 79px;
}

.save-22,
.save-46,
.save-70 {
  clear: both;
  margin: -26px 0 0 30.15873%;
}

.save-11,
.save-12,
.save-15,
.save-16,
.save-19,
.save-20,
.save-23,
.save-24,
.save-35,
.save-36,
.save-39,
.save-40,
.save-43,
.save-44,
.save-47,
.save-48,
.save-59,
.save-60,
.save-63,
.save-64,
.save-67,
.save-68,
.save-71,
.save-72 {
  margin-left: 30.15873%;
}

.save-9 {
  position: relative;
  z-index: 46;
  width: 32.5396825396%;
  height: 37px;
  margin-top: 63px;
}

.share-11 {
  position: relative;
  z-index: 161;
  margin-left: 67.42622%;
}

.share-1,
.share-13,
.share-7 {
  margin-left: 67.4238699999%;
}

.share-14,
.share-2,
.share-8 {
  margin-left: 67.35353%;
}

.share-10,
.share-16,
.share-4 {
  margin-left: 67.42622%;
}

.share-17 {
  position: relative;
  z-index: 243;
  margin-left: 67.42622%;
}

.share-12,
.share-15,
.share-18,
.share-3,
.share-6,
.share-9 {
  margin-left: 67.35243%;
}

.share-5 {
  position: relative;
  z-index: 79;
  margin-left: 67.42622%;
}

.source-1 {
  z-index: 27;
  width: 80%;
  margin-top: -45px;
}

.source-10 {
  z-index: 151;
  width: 80%;
  margin-top: -75px;
}

.source-11 {
  z-index: 162;
}

.source-12 {
  z-index: 177;
  width: 80%;
  margin-top: -53px;
}

.source-13 {
  z-index: 191;
  width: 80%;
  margin-top: -45px;
}

.source-14 {
  z-index: 207;
  width: 80%;
  margin-top: -46px;
}

.source-15 {
  z-index: 220;
  width: 80%;
  margin-top: -74px;
}

.source-16 {
  z-index: 233;
  width: 80%;
  margin-top: -75px;
}

.source-17 {
  z-index: 244;
}

.source-18 {
  z-index: 259;
  width: 80%;
  margin-top: -53px;
}

.source-2 {
  z-index: 43;
  width: 80%;
  margin-top: -46px;
}

.source-3 {
  z-index: 56;
  width: 80%;
  margin-top: -74px;
}

.source-4 {
  z-index: 69;
  width: 80%;
  margin-top: -75px;
}

.source-5 {
  z-index: 80;
}

.source-6 {
  z-index: 95;
  width: 80%;
  margin-top: -53px;
}

.source-7 {
  z-index: 109;
  width: 80%;
  margin-top: -45px;
}

.source-8 {
  z-index: 125;
  width: 80%;
  margin-top: -46px;
}

.source-9 {
  z-index: 138;
  width: 80%;
  margin-top: -74px;
}

.text-1 {
  position: relative;
  z-index: 29;
  width: 27.0067771084%;
  min-height: 38px;
  margin: 19px 0 0 7.20265%;
  font-size: 1em;
  font-weight: 700;
  color: rgb(10, 12, 13);
}

.text-11 {
  position: relative;
  z-index: 7;
  width: 1.8333333333%;
  min-height: 36px;
  margin: -2289px 0 0 3.7474%;
  padding-top: 6px;
  font-size: 1em;
  color: rgb(0, 0, 0);
}

.text-12 {
  position: relative;
  z-index: 6;
  width: 5%;
  min-height: 36px;
  margin: -2289px 0 0 5.58073%;
  padding-top: 6px;
  font-size: 1em;
  font-weight: 700;
  color: rgb(0, 0, 0);
}

.text-13 {
  position: relative;
  z-index: 8;
  width: 5.5833333333%;
  min-height: 36px;
  margin: -2289px 0 0 11.74349%;
  padding-top: 6px;
  font-size: 1em;
  font-weight: 700;
  color: rgb(0, 0, 0);
}

.text-14 {
  position: relative;
  z-index: 9;
  width: 8.4166666666%;
  min-height: 36px;
  margin: -2289px 0 0 17.32813%;
  padding-top: 6px;
  font-size: 1em;
  font-weight: 700;
  color: rgb(0, 0, 0);
}

.text-15 {
  position: relative;
  z-index: 10;
  width: 16.5%;
  min-height: 36px;
  margin: -2289px 0 0 28.91667%;
  padding-top: 6px;
  font-size: 0.875em;
  color: rgb(10, 12, 13);
}

.text-16 {
  position: relative;
  z-index: 11;
  width: 16.5%;
  min-height: 36px;
  margin: -2289px 0 0 35.41667%;
  padding-top: 6px;
  font-size: 0.875em;
  color: rgb(10, 12, 13);
}

.text-17 {
  position: relative;
  z-index: 12;
  width: 6.5%;
  min-height: 36px;
  margin: -2289px 0 0 45.75%;
  padding-top: 6px;
  font-size: 0.875em;
  color: rgb(10, 12, 13);
}

.text-18 {
  position: relative;
  z-index: 13;
  width: 8.25%;
  min-height: 36px;
  margin: -2289px 0 0 53.16667%;
  padding-top: 6px;
  font-size: 0.875em;
  color: rgb(10, 12, 13);
}

.text-19 {
  position: relative;
  z-index: 14;
  width: 6.5%;
  min-height: 36px;
  margin: -2289px 0 0 61.41667%;
  padding-top: 6px;
  font-size: 0.875em;
  color: rgb(10, 12, 13);
}

.text-2 {
  position: relative;
  z-index: 31;
  width: 20.7228915662%;
  min-height: 32px;
  margin: 19px 0 0 39.01467%;
  padding-top: 6px;
  font-size: 0.75em;
  font-weight: 400;
  color: rgb(113, 136, 255);
}

.text-4 {
  position: relative;
  z-index: 111;
  width: 27.0067771084%;
  min-height: 38px;
  margin: 19px 0 0 7.20265%;
  font-size: 1em;
  font-weight: 700;
  color: rgb(10, 12, 13);
}

.text-5 {
  position: relative;
  z-index: 113;
  width: 20.7228915662%;
  min-height: 32px;
  margin: 19px 0 0 39.01467%;
  padding-top: 6px;
  font-size: 0.75em;
  font-weight: 400;
  color: rgb(113, 136, 255);
}

.text-3,
.text-6 {
  clear: both;
  width: 86.7469879518%;
  min-height: 32px;
  margin-left: 7.20265%;
  font-size: 0.75em;
  font-weight: 400;
  color: rgba(10, 12, 13, 0.6);
}

.text-7 {
  position: relative;
  z-index: 193;
  width: 34.4387755102%;
  min-height: 38px;
  margin: 19px 0 0 7.14286%;
  font-size: 1em;
  font-weight: 700;
  color: rgb(10, 12, 13);
}

.text-8 {
  position: relative;
  z-index: 195;
  width: 20.7228915662%;
  min-height: 32px;
  margin: 19px 0 0 31.64063%;
  padding-top: 6px;
  font-size: 0.75em;
  font-weight: 400;
  color: rgb(113, 136, 255);
}

.text-9 {
  clear: both;
  width: 86.7469879518%;
  min-height: 32px;
  margin: 6px 0 0 7.20265%;
  font-size: 0.75em;
  font-weight: 400;
  color: rgba(10, 12, 13, 0.6);
}

.branch ._1-1,
.branch ._1-3,
.branch ._1-5 {
  margin: 6px 0 0 7.20265%;
}

.branch ._1-2,
.branch ._1-4,
.branch ._1-6 {
  margin-left: 8.16327%;
}

.branch ._2-10,
.branch ._2-11,
.branch ._2-2,
.branch ._2-3,
.branch ._2-6,
.branch ._2-7 {
  height: 105px;
  margin-left: 7.20265%;
}

.branch ._2-12,
.branch ._2-4,
.branch ._2-8 {
  height: 115px;
  margin-left: 8.16327%;
  border-bottom: 1px solid rgb(210, 217, 221);
}

.branch ._2-1,
.branch ._2-5,
.branch ._2-9 {
  height: 115px;
  margin-left: 7.20265%;
}

.save a {
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-color: transparent;
  border-style: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: transparent;
  font-family: Muli;
  font-style: inherit;
  font-size: 0.75em;
  font-weight: inherit;
  text-transform: inherit;
  text-decoration: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  color: inherit;
  opacity: 1;
  word-break: normal;
  word-wrap: normal;
  white-space: normal;
}

.source a,
.source em {
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-color: transparent;
  border-style: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: transparent;
  font-family: inherit;
  font-style: inherit;
  font-size: inherit;
  font-weight: inherit;
  text-transform: inherit;
  text-decoration: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  color: inherit;
  opacity: 1;
  word-break: normal;
  word-wrap: normal;
  white-space: normal;
}

.text strong {
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-color: transparent;
  border-style: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: transparent;
  font-family: inherit;
  font-size: inherit;
  text-transform: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  color: inherit;
  opacity: 1;
  word-break: normal;
  word-wrap: normal;
  white-space: normal;
}

.text-1 strong,
.text-11 strong,
.text-4 strong,
.text-7 strong {
  font-style: inherit;
  font-weight: inherit;
  text-decoration: inherit;
}

.text-2 strong,
.text-5 strong,
.text-8 strong {
  font-style: inherit;
  font-weight: 700;
  text-decoration: underline;
}

.text-3 strong,
.text-6 strong,
.text-9 strong {
  font-style: normal;
  font-weight: 700;
  text-decoration: underline;
}

@media(max-width: 850px) {
  .nav_bar-1:hover {
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
  }

  .branch {
    position: relative;
  }

  .branch .container {
    position: relative;
    height: 2475px;
    margin-top: -2438px;
  }

  .branch .link_heading {
    position: relative;
  }

  .branch .text {
    position: relative;
  }

  .container .coms {
    position: relative;
  }

  .container .image {
    height: auto;
  }

  .container .source {
    position: relative;
    margin-top: 67px;
  }

  .header {
    top: 1995px;
  }

  .nav_bar .container {
    right: auto;
    width: 22.2352941176%;
    height: 38px;
  }

  .nav_bar .image {
    position: relative;
    z-index: 1;
    margin-top: -32px;
    margin-left: 14.80655%;
  }

  .nav_bar .text {
    position: relative;
    z-index: 3;
    margin-left: 2.91544%;
  }

  .share .image {
    margin-top: -2370px;
  }

  .container ._input {
    position: relative;
    z-index: 0;
    width: 100%;
    margin-left: -0.4795%;
  }

  .branch .container-1 {
    z-index: 25;
  }

  .branch .container-10 {
    z-index: 149;
    margin-left: 0;
  }

  .branch .container-11 {
    z-index: 163;
  }

  .branch .container-12 {
    z-index: 175;
  }

  .branch .container-13 {
    z-index: 189;
  }

  .branch .container-14 {
    z-index: 205;
  }

  .branch .container-15 {
    z-index: 218;
    margin-left: 0;
  }

  .branch .container-16 {
    z-index: 231;
    margin-left: 0;
  }

  .branch .container-17 {
    z-index: 245;
  }

  .branch .container-18 {
    z-index: 257;
  }

  .branch .container-2 {
    z-index: 41;
  }

  .branch .container-3 {
    z-index: 54;
    margin-left: 0;
  }

  .branch .container-4 {
    z-index: 67;
    margin-left: 0;
  }

  .branch .container-5 {
    z-index: 81;
  }

  .branch .container-6 {
    z-index: 93;
  }

  .branch .container-7 {
    z-index: 107;
  }

  .branch .container-8 {
    z-index: 123;
  }

  .branch .container-9 {
    z-index: 136;
    margin-left: 0;
  }

  .branch .link_heading-1 {
    z-index: 26;
  }

  .branch .link_heading-10 {
    z-index: 150;
  }

  .branch .link_heading-11 {
    z-index: 164;
  }

  .branch .link_heading-12 {
    z-index: 176;
  }

  .branch .link_heading-13 {
    z-index: 190;
  }

  .branch .link_heading-14 {
    z-index: 206;
  }

  .branch .link_heading-15 {
    z-index: 219;
  }

  .branch .link_heading-16 {
    z-index: 232;
  }

  .branch .link_heading-17 {
    z-index: 246;
  }

  .branch .link_heading-18 {
    z-index: 258;
  }

  .branch .link_heading-2 {
    z-index: 42;
  }

  .branch .link_heading-3 {
    z-index: 55;
  }

  .branch .link_heading-4 {
    z-index: 68;
  }

  .branch .link_heading-5 {
    z-index: 82;
  }

  .branch .link_heading-6 {
    z-index: 94;
  }

  .branch .link_heading-7 {
    z-index: 108;
  }

  .branch .link_heading-8 {
    z-index: 124;
  }

  .branch .link_heading-9 {
    z-index: 137;
  }

  .branch .source-1 {
    position: relative;
    z-index: 27;
  }

  .branch .source-10 {
    position: relative;
    z-index: 151;
    margin-top: -71px;
  }

  .branch .source-12 {
    position: relative;
    z-index: 177;
    margin-top: -48px;
  }

  .branch .source-13 {
    position: relative;
    z-index: 191;
  }

  .branch .source-14 {
    position: relative;
    z-index: 207;
    margin-top: -41px;
  }

  .branch .source-15 {
    position: relative;
    z-index: 220;
    margin-top: -71px;
  }

  .branch .source-16 {
    position: relative;
    z-index: 233;
    margin-top: -71px;
  }

  .branch .source-18 {
    position: relative;
    z-index: 259;
    margin-top: -48px;
  }

  .branch .source-2 {
    position: relative;
    z-index: 43;
    margin-top: -41px;
  }

  .branch .source-3 {
    position: relative;
    z-index: 56;
    margin-top: -71px;
  }

  .branch .source-4 {
    position: relative;
    z-index: 69;
    margin-top: -71px;
  }

  .branch .source-6 {
    position: relative;
    z-index: 95;
    margin-top: -48px;
  }

  .branch .source-7 {
    position: relative;
    z-index: 109;
  }

  .branch .source-8 {
    position: relative;
    z-index: 125;
    margin-top: -41px;
  }

  .branch .source-9 {
    position: relative;
    z-index: 138;
    margin-top: -71px;
  }

  .branch .text-1 {
    z-index: 29;
    width: 27.0026045819%;
    margin-left: 7.19752%;
  }

  .branch .text-2 {
    z-index: 31;
    width: 20.7197150906%;
    margin-left: 39.0095699999%;
  }

  .branch .text-3 {
    z-index: 30;
    width: 86.7485249561%;
    margin-left: 7.19752%;
  }

  .branch .text-4 {
    z-index: 111;
    width: 27.0026045819%;
    margin-left: 7.19752%;
  }

  .branch .text-5 {
    z-index: 113;
    width: 20.7197150906%;
    margin-left: 39.0095699999%;
  }

  .branch .text-6 {
    z-index: 112;
    width: 86.7485249561%;
    margin-left: 7.19752%;
  }

  .branch .text-7 {
    z-index: 193;
    width: 27.0026045819%;
    margin-left: 7.14125%;
  }

  .branch .text-8 {
    z-index: 195;
    width: 20.7197150906%;
    margin-left: 31.62634%;
  }

  .branch .text-9 {
    z-index: 194;
    width: 86.7485249561%;
    margin-top: 0;
    margin-left: 7.1919%;
  }

  .branch-1 {
    z-index: 97;
    margin-left: 1.91544%;
  }

  .branch-2 {
    z-index: 179;
  }

  .branch-3 {
    clear: both;
    z-index: 261;
    margin-top: -1256px;
    margin-left: 94.94118%;
  }

  .container .coms-1 {
    z-index: 18;
  }

  .container .coms-10 {
    z-index: 145;
  }

  .container .coms-11 {
    z-index: 158;
    margin-top: -2385px;
  }

  .container .coms-12 {
    z-index: 171;
  }

  .container .coms-13 {
    z-index: 182;
  }

  .container .coms-14 {
    z-index: 201;
  }

  .container .coms-15 {
    z-index: 214;
  }

  .container .coms-16 {
    z-index: 227;
  }

  .container .coms-17 {
    z-index: 240;
    margin-top: -2385px;
  }

  .container .coms-18 {
    z-index: 253;
  }

  .container .coms-2 {
    z-index: 37;
  }

  .container .coms-3 {
    z-index: 50;
  }

  .container .coms-4 {
    z-index: 63;
  }

  .container .coms-5 {
    z-index: 76;
    margin-top: -2385px;
  }

  .container .coms-6 {
    z-index: 89;
  }

  .container .coms-7 {
    z-index: 100;
  }

  .container .coms-8 {
    z-index: 119;
  }

  .container .coms-9 {
    z-index: 132;
  }

  .container .image-25 {
    position: relative;
    z-index: 129;
    margin-top: 2338px;
  }

  .container .image-43 {
    position: relative;
    z-index: 211;
    margin-top: 2338px;
  }

  .container .image-7 {
    position: relative;
    z-index: 47;
    margin-top: 2338px;
  }

  .container .save-1 {
    position: relative;
    z-index: 24;
  }

  .container .save-13 {
    position: relative;
    z-index: 60;
  }

  .container .save-17 {
    position: relative;
    z-index: 73;
    margin-top: -12px;
  }

  .container .save-21 {
    position: relative;
    z-index: 86;
    margin-top: 87px;
  }

  .container .save-25 {
    position: relative;
    z-index: 106;
  }

  .container .save-29 {
    position: relative;
    z-index: 116;
  }

  .container .save-33 {
    position: relative;
    z-index: 128;
    margin-top: 66px;
  }

  .container .save-37 {
    position: relative;
    z-index: 142;
  }

  .container .save-41 {
    position: relative;
    z-index: 155;
    margin-top: -12px;
  }

  .container .save-45 {
    position: relative;
    z-index: 168;
    margin-top: 87px;
  }

  .container .save-49 {
    position: relative;
    z-index: 188;
  }

  .container .save-5 {
    position: relative;
    z-index: 34;
  }

  .container .save-53 {
    position: relative;
    z-index: 198;
  }

  .container .save-57 {
    position: relative;
    z-index: 210;
    margin-top: 66px;
  }

  .container .save-61 {
    position: relative;
    z-index: 224;
  }

  .container .save-65 {
    position: relative;
    z-index: 237;
    margin-top: -12px;
  }

  .container .save-69 {
    position: relative;
    z-index: 250;
    margin-top: 87px;
  }

  .container .save-9 {
    position: relative;
    z-index: 46;
    margin-top: 66px;
  }

  .container .share-11 {
    position: relative;
    z-index: 161;
  }

  .container .share-15 {
    position: relative;
    z-index: 217;
    margin-top: 2330px;
    margin-left: 49.51389%;
  }

  .container .share-17 {
    position: relative;
    z-index: 243;
  }

  .container .share-3 {
    position: relative;
    z-index: 53;
    margin-top: 2330px;
    margin-left: 49.51389%;
  }

  .container .share-5 {
    position: relative;
    z-index: 79;
  }

  .container .share-9 {
    position: relative;
    z-index: 135;
    margin-top: 2330px;
    margin-left: 49.51389%;
  }

  .container .source-11 {
    z-index: 162;
  }

  .container .source-17 {
    z-index: 244;
  }

  .container .source-5 {
    z-index: 80;
  }

  .header .nav_bar-2 {
    top: -1995px;
  }

  .header .text-11 {
    position: relative;
    z-index: 7;
    margin-left: 3.74449%;
  }

  .header .text-12 {
    position: relative;
    z-index: 6;
    margin-left: 5.57721%;
  }

  .header .text-13 {
    position: relative;
    z-index: 8;
    margin-left: 11.74265%;
  }

  .header .text-14 {
    position: relative;
    z-index: 9;
    margin-left: 17.32721%;
  }

  .header .text-15 {
    position: relative;
    z-index: 10;
    margin-left: 28.91544%;
  }

  .header .text-16 {
    position: relative;
    z-index: 11;
    margin-left: 35.4136%;
  }

  .header .text-17 {
    position: relative;
    z-index: 12;
  }

  .header .text-18 {
    position: relative;
    z-index: 13;
    margin-left: 53.1654399999%;
  }

  .header .text-19 {
    position: relative;
    z-index: 14;
    margin-left: 61.41544%;
  }

  .save .image-16 {
    position: relative;
    z-index: 85;
    margin-top: 5px;
    margin-left: 6.54929%;
  }

  .save .image-34 {
    position: relative;
    z-index: 167;
    margin-top: 5px;
    margin-left: 6.54929%;
  }

  .save .image-1,
  .save .image-10,
  .save .image-13,
  .save .image-19,
  .save .image-22,
  .save .image-28,
  .save .image-31,
  .save .image-37,
  .save .image-4,
  .save .image-40,
  .save .image-46,
  .save .image-49 {
    margin-top: -15px;
  }

  .save .image-52 {
    position: relative;
    z-index: 249;
    margin-top: 5px;
    margin-left: 6.54929%;
  }

  .save .save-22 {
    position: relative;
    z-index: 84;
    margin-top: -30px;
  }

  .save .save-46 {
    position: relative;
    z-index: 166;
    margin-top: -30px;
  }

  .save .save-10,
  .save .save-34,
  .save .save-58 {
    margin-top: -16px;
  }

  .save .save-14,
  .save .save-18,
  .save .save-2,
  .save .save-26,
  .save .save-30,
  .save .save-38,
  .save .save-42,
  .save .save-50,
  .save .save-54,
  .save .save-6,
  .save .save-62,
  .save .save-66 {
    margin-top: -25px;
  }

  .save .save-70 {
    position: relative;
    z-index: 248;
    margin-top: -30px;
  }

  .share .image-21,
  .share .image-24,
  .share .image-3,
  .share .image-39,
  .share .image-42,
  .share .image-6 {
    margin-left: 229.43795%;
  }

  .share .image-12,
  .share .image-15,
  .share .image-18,
  .share .image-27,
  .share .image-30,
  .share .image-33,
  .share .image-36,
  .share .image-45,
  .share .image-48,
  .share .image-51,
  .share .image-54,
  .share .image-9 {
    margin-left: 229.4251%;
  }

  .share .save-12,
  .share .save-16,
  .share .save-20,
  .share .save-24,
  .share .save-32,
  .share .save-36,
  .share .save-40,
  .share .save-44,
  .share .save-48,
  .share .save-56,
  .share .save-60,
  .share .save-64,
  .share .save-68,
  .share .save-72,
  .share .save-8 {
    margin-top: -28px;
  }

  .branch ._1-2 {
    position: relative;
    z-index: 83;
    margin-top: -2098px;
    margin-left: 10.1632%;
  }

  .branch ._1-4 {
    position: relative;
    z-index: 165;
    margin-top: -2098px;
    margin-left: 10.1632%;
  }

  .branch ._1-1,
  .branch ._1-3,
  .branch ._1-5 {
    margin-top: 1889px;
    margin-left: -8.41306%;
  }

  .branch ._1-6 {
    position: relative;
    z-index: 247;
    margin-top: -2098px;
    margin-left: 10.1632%;
  }

  .branch ._2-1 {
    position: relative;
    z-index: 44;
    margin-top: -2377px;
    margin-left: 13.6466%;
  }

  .branch ._2-10 {
    position: relative;
    z-index: 221;
    margin-top: -2270px;
    margin-left: 10.1632%;
  }

  .branch ._2-11 {
    position: relative;
    z-index: 234;
    margin-top: -2143px;
    margin-left: 10.1632%;
  }

  .branch ._2-12,
  .branch ._2-4,
  .branch ._2-8 {
    margin-top: -1938px;
    margin-left: 10.1632%;
  }

  .branch ._2-2 {
    position: relative;
    z-index: 57;
    margin-top: -2270px;
    margin-left: 10.1632%;
  }

  .branch ._2-3 {
    position: relative;
    z-index: 70;
    margin-top: -2143px;
    margin-left: 10.1632%;
  }

  .branch ._2-5 {
    position: relative;
    z-index: 126;
    margin-top: -2377px;
    margin-left: 13.6466%;
  }

  .branch ._2-6 {
    position: relative;
    z-index: 139;
    margin-top: -2270px;
    margin-left: 10.1632%;
  }

  .branch ._2-7 {
    position: relative;
    z-index: 152;
    margin-top: -2143px;
    margin-left: 10.1632%;
  }

  .branch ._2-9 {
    position: relative;
    z-index: 208;
    margin-top: -2377px;
    margin-left: 13.6466%;
  }
}