.Feed {
  height: 100%;
  background-color: #fcfcfc;
  border-radius: 4px;
  padding-bottom: 12px;
}

.Feed-top {
  border-bottom: 1px solid rgb(210, 217, 221);
  margin-bottom: 12px;
}

.Feed-topInner {
  display: flex;
  padding: 20px 12px;
}

.Feed-title {
  color: #333;
  flex-grow: 1;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-weight: 300;
  line-height: 1;
}

.Feed-actions {
  flex-shrink: 0;
  height: 30px;
  margin-left: 10px;
  margin-top: -5px;
  width: 30px;
}

@media (hover) {
  .Feed-actions {
    opacity: 0;
    transition: opacity 250ms;
  }

  .Feed-top:hover .Feed-actions {
    opacity: 1;
  }
}

.Feed-items {
  padding: 0 12px;
}

.Feed-noResults {
  color: #999;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 1;
  text-align: center;
  margin-bottom: 30px;
}
