.Feed-top {
  display: flex;
  padding-bottom: 40px;
}

.Feed-title {
  color: #1f5acc;
  flex-grow: 1;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-weight: 300;
  line-height: 1;
}

.Feed-noResults {
  color: #999;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 1;
  margin-top: 40px;
  text-align: center;
}

.Feed-actions {
  flex-shrink: 0;
  height: 30px;
  margin-left: 10px;
  margin-top: -5px;
  width: 30px;
}

@media (hover) {
  .Feed-actions {
    opacity: 0;
    transition: opacity 250ms;
  }

  .Feed-top:hover .Feed-actions {
    opacity: 1;
  }
}
