.Feed {
  margin-right: 30px;
  width: 380px;
}

.Feed:last-child {
  margin-right: 0;
}

.Feed-title {
  color: #1f5acc;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-weight: 300;
  line-height: 1;
  margin-bottom: 30px;
}
