.FeedSwitcher {
  display: flex;
  flex-grow: 1;
  margin-left: 20px;
  justify-content: flex-start;;
}

.FeedSwitcher-button {
  color: #666;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 200;
  margin-left: 20px;
  text-decoration: none;
}


.FeedSwitcher-button.is-active {
  font-weight: 400;
  color: #333;
}
