.Feeds {
  margin: 0 auto;
  max-width: 1210px;
  padding-top: 100px;
  padding-bottom: 40px;
}

.Feeds--wide {
  margin: 0;
  max-width: none;
  overflow-x: scroll;
}

.Feeds-inner {
  align-items: stretch;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  margin: 0 12px;
}

.Feeds-feed {
  width: 385px;
  flex-shrink: 0;
}

.Feeds-feed {
  margin-right: 12px;
}

.Feeds-feed:last-child {
  margin-right: 0;
}

.Feeds--wide .Feeds-feed:last-child {
  padding-right: 30px;
}
