.Feeds {
  margin: 0 auto;
  max-width: 1200px;
}

.Feeds--wide {
  margin: 0;
  max-width: none;
  overflow-x: scroll;
}

.Feeds-inner {
  align-items: flex-start;
  display: flex;
  justify-content: flex-start;
  max-width: 1200px;
}

.Feeds--wide .Feeds-inner {
  max-width: none;
  flex-wrap: nowrap;
  margin-left: 30px;
}

.Feeds-feed {
  margin-right: 30px;
  width: 380px;
}

.Feeds--wide .Feeds-feed {
  flex-shrink: 0;
}

.Feeds-feed:last-child {
  margin-right: 0;
}
