.Logo {
  cursor: pointer;
  display: flex;
  align-items: center;
  height: 60px;
}

.Logo-text {
  color: #333;
  font-family: 'Exo 2', sans-serif;
  font-size: 28px;
  font-weight: 500;
  letter-spacing: 1px;
  text-decoration: none;
}

.Logo-media {
  margin-right: 10px;
}
