.Item {
  background-color: #fff;
  border: 1px solid rgb(210, 217, 221);
  display: block;
  margin-bottom: 12px;
}

.Item-link {
  display: block;
  text-decoration: none;
}

.Item-media {
  background-position: center;
  background-size: cover;
  height: 140px;
  width: 100%;
  transition: background-size 2s ease-in;
}

.Item-text {
  color: #1f5acc;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.4;
  padding: 10px 10px 5px 10px;
}

.Item--visited .Item-text {
  opacity: 0.6;
}

.Item-info {
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
  padding: 0 10px 20px 10px;
}

.Item-createdAtAndHostName {
  color: #999;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1;
}

.Item-feedTag {
  background-color: rgb(113, 136, 255);
  border-radius: 2px;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1;
  letter-spacing: 1px;
  padding: 5px;
  text-transform: uppercase;
}

.Item-feedTag::before {
  content: '#';
}

.Item-actions {
  align-content: center;
  display: flex;
  justify-content: space-between;
  padding: 0 10px 10px 10px;
}

.Item-upvotes {
  display: flex;
  align-items: center;
}

.Item-upvotesValue {
  color: #999;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1;
  text-align: center;
  width: 23px;
}

.Item--voted .Item-upvotesValue {
  color: #333;
}

.Item-share {
  display: flex;
  align-items: center;
}

.Item-shareText {
  color: #999;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1;
  margin-left: 5px;
}

.Item-commentsButton {
  display: flex;
  align-items: center;
}

.Item-commentsButtonText {
  color: #999;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1;
  margin-left: 5px;
  flex-shrink: 0;
}

.Item-comments {
  background-color: #eee;
  border-top: 1px solid #ccc;
  padding: 10px;
  display: none;
}

.Item-comments.is-open {
  display: block;
}

.Item-comment {
  opacity: 0.8;
  color: #333;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.4;
  border-bottom: 1px solid #ccc;
  padding-bottom: 8px;
  margin-bottom: 8px;
}

.Item-commentUser {
  color: #1f5acc;
  font-weight: 400;
  cursor: pointer;
}

.Item-loadMoreComments {
  opacity: 0.8;
  color: #999;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.4;
  margin-top: 5px;
  text-align: center;
}
