.Item {
  background-color: #fff;
  border: 1px solid rgb(210, 217, 221);
  cursor: pointer;
  display: block;
  margin-bottom: 12px;
  text-decoration: none;
}

.Item-media {
  background-position: center;
  background-size: cover;
  height: 140px;
  width: 100%;
  transition: background-size 2s ease-in;
}

.Item-text {
  color: #1f5acc;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.4;
  padding: 20px 10px 5px 10px;
}

.Item:hover .Item-text {
  color: #f558bf;
}

.Item-info {
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
  padding: 0 10px 20px 10px;
}

.Item-createdAtAndHostName {
  color: #aaa;
  flex-grow: 1;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1;
}

.Item-feedTag {
  background-color: rgb(113, 136, 255);
  border-radius: 2px;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1;
  letter-spacing: 1px;
  padding: 5px;
  text-transform: uppercase;
}

.Item-feedTag::before {
  content: '#';
}

.Item-bottom {
  align-content: center;
  display: flex;
  justify-content: space-between;
  padding: 0 10px 10px 10px;
}

.Item-upvotes {
  display: flex;
  align-items: center;
  width: 80px;
}

.Item-upvotesValue {
  color: #aaa;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1;
  text-align: center;
  width: 25px;
}

.Item-share {
  display: flex;
  align-items: center;
  width: 80px;
  padding-left: 10px;
}

.Item-shareText {
  color: #aaa;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1;
  margin-left: 10px;
}

.Item-star {
  width: 80px;
  display: flex;
  justify-content: flex-end;
}
