.FeedHeader {
  height: 60px;
}

.FeedHeader-titleAndMenu {
  display: flex;
}

.FeedHeader-title {
  align-items: flex-start;
  color: #1f5acc;
  flex-grow: 1;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-weight: 300;
  justify-content: space-between;
  line-height: 1;
  margin-bottom: 30px;
}

.FeedHeader-menu {
  flex-shrink: 0;
  height: 30px;
  margin-left: 10px;
  margin-top: -5px;
  width: 30px;
}

@media (hover) {
  .FeedHeader-menu {
    opacity: 0;
    transition: opacity 250ms;
  }

  .FeedHeader:hover .FeedHeader-menu {
    opacity: 1;
  }
}
