.Nav {
  display: flex;
  flex-grow: 1;
  justify-content: flex-start;
  margin-left: 20px;
  margin-top: 2px;
}

.Nav-button {
  color: #ccc;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 300;
  margin-left: 20px;
  text-decoration: none;
}


.Nav-button.is-active {
  font-weight: 300;
  color: #f558bf;
}
