.FeedNavButton {
  color: #ccc;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 200;
  margin-left: 20px;
  text-decoration: none;
}


.FeedNavButton.is-active {
  font-weight: 200;
  color: #f558bf;
}
